/* Center content on the page */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
  background-color: rgb(82 63 90);
}

/* Fade-in and out animation for the logo */
.logo {
  width: 30vw;
  animation: fadeInOut 3s ease;
}

/* Content styling */
.content {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;
}

h1 {
  font-size: 32px;
  margin-bottom: 2vh;
  color: white;
  font-family: serif;
}

.button-row {
  display: flex;
  gap: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
